<div class="row">
  <div class="col-md-3"><%= position.name %></div>
  <div class="col-md-4"><%= position.abbreviation %></div>
  <div class="col-md-1"><%= link_to t("button.edit"),
    edit_admin_position_path(position), class: "glyphicon glyphicon-edit" %>
  </div>
  <div class="col-md-2">
    <%= link_to t("button.delete"), admin_position_path(position),
      method: :delete, data: {confirm: t("position.confirm.delete")},
      class: "glyphicon glyphicon-trash" %>
  </div>
</div>
