<tr>
  <td><%= link_to team.name, admin_team_path(team) %></td>
  <td>|<%= link_to " ", edit_admin_team_path(team), class: "glyphicon glyphicon-edit" %></td>
  <td>|<%= link_to " ", admin_team_path(team), 
  method: :delete, data: {confirm: t("notice.yousure")}, class: "glyphicon glyphicon-trash" %></td>
</tr>